$primary:       #092C4C;
$secondary:     #F2994A;
$success:       #27AE60;
$info:          #2F80ED;
$warning:       #E2B93B;
$danger:        #EB5757;
$light:         #ffffff;
$accent:         #4c092d;