{% extends "base.html.twig" %}

{% block title %}Index
{% endblock %}

{% block body %}
	<h1>{{hello}}
		!</h1>
{% endblock %}

{# <!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Wild Series</title>
	</head>
	<body>
		<h1>{{hello}}
			!</h1>
	</body>
</html> #}
