{% extends "base.html.twig" %}

{% block title %}Index
{% endblock %}

{% block body %}
	<h1 class="display-5">{{hello}}
		!</h1>
	{# <img src="{{ asset('build/samourai.jpg') }}" alt=""/> #}
{% endblock %}
